span {
    font-size: clamp(10px, 0.8vw, 10vh)
}

body {
    margin: 0px;
}

.sr-only {
    display: none;
}

.leaflet-container {
    width: 100vw;
}

.row-info {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.button-get-location {
    height: 36px;
    width: max-content;
    float: right;
    background-color: rgb(0, 89, 255);
    color: aliceblue;
    border: none;
    cursor: pointer;
    margin-left: 10px;
}

.button-moving {
    background-color: red;
}

.button-unmove {
    background-color: black;
}

.fomat-collapsed .ant-collapse-content-box {
    padding: unset;
}

.fomat-collapsed .ant-list-item {
    cursor: pointer;
    display: flow-root;
}

.col-choose-color-draw {
    display: inline-grid;
}

.col-choose-color-draw .ant-radio-group {
    display: contents !important;
}

.control-action {
    background: #fff;
    padding: 10px;
    border-radius: 4px;
}

.list-positions {
    padding: unset;
}

.list-positions .ant-list-items {
    height: 200px;
    overflow: auto;
}

@media screen and (max-width: 425px) and (min-width: 320px) {
    .list-positions {
        width: 180px;
        display: block;
    }
}